# Fichiers objets
*.o

# Exécutables
/bin/
*.exe
*.out

# Fichiers temporaires
*.log
*.tmp
*.swp

# Dossiers de build
/build/

#images caliib
/calib_images/
cam_param/

.vscode/

/dartomatic/build/
/dartomatic/logs/
